@model IEnumerable<WebApplication1.Models.Todo>

@{
    ViewBag.Title = "Index";
}

<h2>My to-do list</h2>

<div class="form-group">
    @Html.ActionLink("Create new task", "Create", "Todo", new { @class = "btn btn-primary" })
</div>

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search to-do task by name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Description</td>
                <td>@item.DueDate.ToString("d")</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Todo", new { id = item.ID }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Edit", "Edit", "Todo", new { id = item.ID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Detail", "Details", "Todo", new { id = item.ID }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

